* {
  box-sizing: border-box;
  /* text-align: center; */
}

ul {
  list-style: none;

}

#lista-tarefas, #concluidas {
  border: 1px solid black;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through;
}