/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #f0f4f8, #d9e7f1);
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

nav {
  margin-bottom: 20px;
  text-align: center;
}

aside nav h1 {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 20px;
  opacity: 1;
}

main {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

main h2 {
  font-size: 20px;
  color: #2563eb;
  margin-bottom: 15px;
}

div {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  font-size: 1rem;
  /* background-color: #333; */
  color: #e0e0e0;
  transition: border 0.3s;
}

input[type="text"]:focus {
  border-color: #2c6db8;
  outline: none;
  box-shadow: 0px 0px 20px rgba(32, 48, 196, 0.7);
}

button {
background-image: linear-gradient(to right, #36D1DC 0%, #5B86E5  51%, #36D1DC  100%);
/* margin: 10px; */
padding: 10px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #eee;
border-radius: 30px;
display: block;  
cursor: pointer;   
}


button:hover {
  background-color: #2563eb;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

button:active {
  background-color: #00995c;
  transform: translateY(0);
}

ul {
  list-style: none;
  margin-top: 10px;
}

ul#lista-tarefas, ul#concluidas {
  border: 1px solid  #2563eb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
}

ul li {
  border: #2563eb 1px solid;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: left;
}

ul li:hover {
  label {
    color: white;
    font-weight: bold;
  }
  background-color: #2563eb;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.completed {
  text-decoration: line-through;
  color: #777;
}

.completed:hover {
  background-color: #2563eb;
  color: #fff;
}

label#task-nav {
  padding-left: 5px;
  cursor: pointer;
  color: #2563eb;
  font-size: 20px;
  font-weight: bold;
  margin-top: 9px;
}


label {
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

audio {
  display: none;
}

aside {
  max-width: 600px;
  /* background-color: #2a2a2a; */
  /* padding: 20px; */
  border-radius: 10px;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); */
  float: left;
  position: fixed;
  top: 0px;
  left: 0;
  width: 60px;
  height: 60px;
  
  text-align: center;
}

svg {
  width: 40px;
  position: absolute;
  left: 18px;
  top: -11px;
}

#texto-tarefa {
  border-color: #2563eb;
  color: black;
  /* margin-top: 50px; */
}

.div-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 40px;
  margin-top: 7px;
  gap: 10px;
  margin: 8px auto;
}

#inputs-menu {
  display: flex;
  justify-content: center;
  text-align: center;
}

.sidebar {
  width: 280px;
  background-color:#e0e0e0;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow: hidden;
  height: 100%;
  background-image: linear-gradient(to right, #516c6e 0%, #172749  51%, #000000  100%);
  opacity: 0.7;
}

nav {
  margin-top: 20px;
}

nav h1 {
  opacity: 1;
  margin-left: 35px;
  font-size: 20px;
  margin-top: 9px;
  color: white;
}


nav button {
margin-left: 80px;
margin-top: 30px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

#colocar-h1 {
  margin-left: 10px;
  margin-top: 29px;
  font-size: 16px;
}

li {
  list-style: none;
  
}

.button-tasks {
  margin-left: -6px;
  padding: 10;
  width: 80px;
  text-align: center;
}

.div-tasks {
  width: 170px;
  margin-left: 100px;
  position: relative;
  top: -50px;
}

.menu-tasks {
  height: 60px;
  border-radius: 5%;
  background-color: #2563eb;
}

p {
  position: relative;
  top: 10px;
  left: -3px;
  text-transform: uppercase;
  font-weight: bold;
}

#menu-ul {
  margin-top: 30px;
}